{% extends 'base.html.twig' %}

{% block body %}
<h1>Product list</h1>

<a href="{{ path('productscreate') }}">create new product</a><br/><br/>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td>
                <a href="{{ path('productsshow', {productId: product.id}) }}">show</a> |
                <a href="{{ path('productsedit', {productId: product.id}) }}">edit</a> |
                <a href="{{ path('productsdelete', {productId: product.id, sure: 0}) }}">delete</a>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
